# exercism, generally
cli/
.exercism/
.meta/
users/

# ?
.stack-work/
*.cabal

# editors -- configred in ~/.config/git/ignore

# my exercism test-all results
*.broken.*
*.ok.*
*.status*

# pharo dev
pharo-staging/
problem-specifications/

# ignore these tracks for now
csharp/

# fish_wrapper
_by_exercise/

# downloaded solution zips
# https://exercism.org/api/v2/tracks/$TRACK/exercises/$SLUG/export_solutions
# => __exercism_api_call -o solutions.zip tracks/$TRACK/exercises/$SLUG/export_solutions
solutions.zip
solutions/
