./cli/
.exercism/

# editors
.vstags
.vscode/
.*.swp
.editorconfig

# javascript
package-lock.json
node_modules/

# java
build/
.gradle/
.idea/
.project
.settings/
out/
settings.gradle

# ?
.stack-work/
*.cabal

# lua
.busted

# python
__pycache__/

# c#
obj/
bin/
.RData
.Rhistory
