# exercism, generally
cli/
.exercism/
.meta/
users/

# ?
.stack-work/
*.cabal

# editors
.vstags
.vscode/
.*.sw?
.sw?
.editorconfig

.DS_Store

# my exercism test-all results
*.broken.*
*.ok.*

# pharo dev
pharo-staging/
problem-specifications/

# ignore these tracks for now
go/
php/
csharp/
