#greek-flag {
  display: grid;
  grid-template-rows: 5fr 4fr;
  background: var(--background);

  #top {
    display: grid;
    grid-template-columns: auto 1fr;

    #cross {
      display: grid;
      aspect-ratio: 1;
      gap: 20%;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;

      div { background: var(--blue); }
    }

    #stripes {
      display: grid;
      grid-template-rows: repeat(5, 1fr);
      
      div:nth-child(odd) { background: var(--blue);}
    }
  }

  #bottom {
    display: grid;
    grid-template-rows: repeat(4, 1fr);

    div:nth-child(even) { background: var(--blue); }
  }
}
