#bootcamp-features {
  display: flex;
  flex-direction: row;
  gap: 10px;

  .feature {
    background: white;
    padding: 5px;
    padding-right: 10px;
    border-radius: 10px;
    display: flex;
    gap: 5px;
    align-items: center;
  }

  .feature-icon {
    height: 16px;
    width: 16px;
    margin-left: 5px;
  }

  .feature-text {
    font-size: 15px;
    font-weight: 400;
    color: #333;

    strong {
      font-weight: 600;
    }
  }
}
