/*
* { outline: 1px solid; }
*/
.recipe-card {
  margin: 20px;
  background-image: url("/bootcamp/images/lemons.jpg");
  background-size: cover;
  background-position: top right;
  border: 2px solid #e3caa5;
  border-radius: 10px;
  font-size: 16px;
  color: #4b3f2f;
  padding: 25px;
  padding-right: 110px; /* don't cover the lemons */
}
.recipe-name {
  margin: 0 0 10px 0;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: bold;
}
.ingredients {
  margin: 10px 0;
  list-style-type: "🍯 ";
  padding-left: 20px;
}
.ingredients li {
  margin: 5px 0;
}
.instructions {
  margin: 10px 0;
}
.commentary {
  margin-top: 10px;
  font-size: 14px;
  font-style: italic;
  color: #777;
}
