.recipe-card {
  border: 2px solid #e3caa5;
  border-radius: 10px;
  margin: 5%;
  padding: 5%;
  background-image: url('/bootcamp/images/lemons.jpg');
  background-size: cover;
  color: #4b3f2f;
}
.recipe-card .recipe-name {
  text-transform: uppercase;
  margin: 0;
  font-size: 22px;
}
.recipe-card .ingredients {
  list-style-type: "🍯 ";
  margin: 0;
  margin-top: 3%;
  padding-left: 6%;
}
.recipe-card .ingredients li {
  margin-bottom: 1%;
}
.recipe-card .instructions {
  margin: 3% 10% 0 0;
}
.recipe-card .commentary {
  color: #777;
  font-style: italic;
  font-size: 14px;
  margin-top: 3%;
}
