.business-card {
  margin: 20px;
  border: 3px double rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 20px;
  background-image: url('/bootcamp/images/paper-texture.jpg');
  background-size: cover;
  
  /* this one fills in the gap in the double border */
  background-repeat: repeat;
  /* needed for some browsers */
  background-position: top left; 
}

.logo-container {
  background-image: url('/bootcamp/images/candle.png');
  background-size: 70px;
  background-position: bottom right;
  background-repeat: no-repeat;
}

.business-name {
  margin: 0;
  font-weight: bold;
  font-size: 27px;
  color: #5b3a29;
}

.tagline {
  margin-top: 5px;
  font-style: italic;
  font-size: 16px;
  color: #8c6e54;
}

.contacts {
  margin-top: 30px;
  color: #8c6e54;
  font-size: 15px;
}

.contact {
  margin-top: 10px;

  span{
    margin-right: 5px;
  }
}

