.business-card {
    border: 3px double rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin: 5%;
    padding: 5%;
    background-image: url('/bootcamp/images/paper-texture.jpg');
    background-size: cover;
}

.logo-container {
    background-image: url('/bootcamp/images/candle.png');
    background-size: 20%;
    background-position: bottom right;
    background-repeat: no-repeat;
}

.business-name {
    font-weight: bold;
    font-size: 27px;
    color: #5b3a29;
    margin: 0;
}

.tagline {
    font-style: italic;
    font-size: 16px;
    color: #8c6e54;
    margin-top: 1%;
    margin-bottom: 8%;
}

.contacts {
    color: #8c6e54;
    font-size: 15px;
}

.contact {
    margin-top: 2%;
}

.contact-icon {
    margin-right: 1%;
}